.order-details {
    margin-top: 30px;
    display: block;
    text-align: center;
}

.order-details-container {
    background-color: #E8E9EB;
    width: 600px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px #748083;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.order-details-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.packing-list-title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.invoice-title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.shipping-label-title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.shipping-label-name {
    margin-bottom: 10px;
}

.shipping-label-address {
    margin-bottom: 20px;
}

.confirmation-email {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.confirmation-email-text {
    width: 400px;
}

.order-details-table {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.packing-list-table {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.invoice-table {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.order-details-table-label {
    font-weight: bold;
    float: left;
}

.order-details-table-value {
    float: right;
}

.order-details-button {
    width: 150px;
    height: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', "sans-serif",
    sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #748083;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.order-details-button:hover, .order-ship-button:hover, .print-button:hover {
    opacity: 50%;
}

.order-ship-button {
    width: 150px;
    height: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', "sans-serif",
    sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 40px;
    border-radius: 10px;
    background-color: rgb(74, 168, 53);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.print-button{
    width: 250px;
    height: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', "sans-serif",
    sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #748083;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.order-shipped {
    font-weight: bold;
    color: rgb(43, 197, 9);
}

.order-not-shipped {
    font-weight: bold;
    color: rgb(227, 171, 5);
}