.weight-brackets {
    display: block;
    text-align: center;
}

.weight-brackets-container {
    margin-top: 20px;
    background-color: #E8E9EB;
    width: 500px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px #748083;
    height: 100%;
}

.weight-brackets-title {
    margin-top: 30px;
    font-size: 20px;
}

.weight-brackets-table {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 400px;
    border-collapse:separate; 
    border-spacing: 0 10px;
}

.weight-brackets-table-range {
    font-weight: bold;
    float: left;
}

.weight-brackets-table-charge {
    float: right;
}

.weight-brackets-remove-button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', "sans-serif",
    sans-serif;
    width: 80px;
    height: 25px;
    background-color: #ca291d;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
}

.weight-brackets-remove-button:hover {
    opacity: 50%;
}

.new-weight-brackets-container {
    margin-top: 32px;
    background-color: #E8E9EB;
    width: 280px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px #748083;
    height: 100%;
}

.new-weight {
    margin-top: 25px;
}

.new-weight, .new-charge {
    margin-bottom: 2px;
    width: 150px;
    height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', "sans-serif",
    sans-serif;
    border-radius: 8px;
    border: none;
    text-indent: 5px;
    font-size: 16px;
}

.weight-brackets-container input:focus-visible {
    border-color: #4F5F95;
    outline: 2px solid #4F5F95;
}


.weight-brackets-container input::placeholder {
    color: #696969;
}

.new-weight-bracket-add-button {
    width: 150px;
    height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', "sans-serif",
    sans-serif;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #748083;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.new-weight-bracket-add-button:hover  {
    opacity: 50%;
}

.admin-orders {
    display: block;
    text-align: center;
}

.admin-orders-label {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}


.admin-order-cards-container{
    display: inline-grid;
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.search-by-date {
    margin-top: 25px;
    margin-bottom: 20px;
}

.search-by-start-date, .search-by-end-date, .search-by-status-select, .search-by-start-price, .search-by-end-price {
    height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', "sans-serif",
    sans-serif;
    border-radius: 8px;
    border: none;
    text-align: center;
}

.order-card input:focus-visible {
    border-color: #4F5F95;
    outline: 2px solid #4F5F95;
}

.order-card select:focus-visible {
    border-color: #4F5F95;
    outline: 2px solid #4F5F95;
}

.search-by-start-price, .search-by-start-date, .search-orders-to {
    margin-right: 15px;
}


.search-by-start-price, .search-by-end-price {
    width: 80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.search-by-price {
    margin-top: 20px;
    margin-bottom: 25px;
}