.search {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.search-border {
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    display: inline-block;
    background-color: white;
}

.search-field {
    width: 255px;
    height: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    margin-top: 1.5px;
    margin-right: 10px;
    float: right;
}

.search-icon {
    margin-left: 5px;
    align-items: center;
    justify-content: center;
}