.warehouse-orders {
    display: block;
    text-align: center;
}

.warehouse-orders-label {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}


.warehouse-order-cards-container{
    display: inline-grid;
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}